{% extends 'base.html.twig' %}

{% block title %}IT Solutions{% endblock %}

{% block body %}

<div class="col-sm-12">
	<h1 class="page-name">Legal notices</h1>
</div>

<div class="col-sm-12">
    <h2>Website disclaimer</h2>
    <br/>
    <p>IT Solutions is a personal project developped to learn how to use PHP framework : Symfony 4 and to improve the previous PHP Forum Project</p>
    <p>Everything on this website is fictitious and for demonstrative purpose. Any resemblance to reality, from the name of the site, to the users or to the content of the forum, is purely coincidental.</p>
    <p>This website is still in development and every advices to improve it are accepted</p>
    <hr>

    <h2>Some tools used</h2>
    <ul>
        <li>
            <span>FAKER : For fictitious name, topics and messages on the forum => <a href="https://github.com/fzaninotto/Faker">https://github.com/fzaninotto/Faker</a><span>
        </li>
        <li>
            <span>LIMPSUM : To create lorem => <a href="https://fr.lipsum.com/">https://fr.lipsum.com/</a><span>
        </li>
    </ul>
    <hr>

    <h2>Author</h2>
    <p>Hugo BILQUART : <a href="https://github.com/HugoBilquart/">https://github.com/HugoBilquart/</a></p>
</div>

{% endblock %}