body {
	background: 				url(../img/wallpaper.jpg) no-repeat center center fixed;
    background-size:            cover;
    display:    				cover;
	font-family:				main;
	color: 						white;
    margin: 					auto;
}

h1,h2,h3,span,li,p {
    font-family:				main;
}

.success {
    color: green;
}

.failed {
    color: red;
}

.container-fluid {
    width: 						80%;
    min-height:                 100%;
}

#content {
    min-height:                 100%;
}

#footer {
    background-color: 	    	#757575;
    margin-top:                 0.2%;
    padding:                    1%;
    text-align: right;
    text-shadow: 				1px 3px 3px #cecece;
    color:                      white;
}

#footer a {
    color:                      navy;
    font-weight:                bold;
    text-shadow:                none;
    text-decoration:            none;
}

#footer a:hover {
    color:                      rgb(0, 162, 255);
    text-shadow:                0.5px 1px 5px blue;
    text-decoration:            none;
}

#footer a:focus {
    color:                      rgb(0, 162, 255);
    text-shadow:                0.5px 1px 5px blue;
    text-decoration:            underline overline;
}

#top {
    background-color: 			#757575;
    margin-bottom:              0.2%;
    height: 10em;
}

#login-data {
    float: left;
    text-align: right;
    height: 100%;
    margin: auto;
    vertical-align: middle;
}

#logout-link {
    color: red;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.5s;
}

#logout-link:hover {
    color: darkred;
    text-shadow: 0.5px 1px 5px brown;
}

#logout-link:focus {
    color: darkred;
    text-shadow: 0.5px 1px 5px brown;
    text-decoration: underline overline;
}

#login-data-text {
    float: right;
    text-align: left;
    height: 100%;
    margin-left: 1%;
}

#login-data-text th, #login-data-text td {
    display: outline-block;
    height: 33%;
    margin: 2%;
}

#content {
    background-color: 		#3B3A3F;
	padding: 				2%;
}

#logo {
    float: left;
    text-align: left;
    height: 100%;
    
}

#logo img {
    position: absolute;
    top: 0;
    left: 0;
    border-left: solid blue 0.1px;
    border-right: solid green 0.1px;
    height: 100%;
    transition-duration: 0.5s;
}

#logo a:focus img {
    border-left: solid cyan 3px;
    border-right: solid cyan 3px;
    opacity: 0.5;
}

hr {
    margin-left: 5px;
	width: 80%;
	height: 2px;
	border-radius: 30px;
	background-color: white;
}

#session_data {
    height: 100%;
}

#session-profile-access img {
    height: 100%;
    transition-duration: 0.5s;
}

#session-profile-access:focus img {
    border: solid 3px cyan;
    opacity: 0.5;
}

.session-pp {
    height: 100%;
}

.member-role {
    color:          darkcyan;
    text-shadow:    0.5px 1px 5px blue;
}

.moderator-role {
    color: limegreen;
    text-shadow:    0.5px 1px 5px green;
}

.administrator-role {
    color: darkred;
    text-shadow:    0.5px 1px 5px brown;
}

@font-face {
	font-family: 				"main";
	src: 						url("../fonts/bankgthd-webfont.woff");
}