<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {{ include('top.html.twig') }}
            {{ include('menu.html.twig') }}
            <div class="row" id="content">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
            {{ include('footer.html.twig') }}
        </div>
    </body>
</html>
