<div class="row">
    <div class="col-sm-12" id="footer">
        <span class="footer_title">IT Solutions - Created and Designed by Hugo BILQUART</span>
        <br/>
        <span class="footer_title">© - IT Solutions™ SF4 | <a href="{{ path('legalNotices') }}">Legal Notices</a></span>
    </div>
</div>