{% extends 'base.html.twig' %}

{% block title %}IT Solutions - Mail test{% endblock %}

{% block body %}

<h3>You did it! You registered!</h3>

Hi NEW USER! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ path('app_login') }}">...</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ asset('/img/favicon.png') }}">

{% endblock %}
